/* PerformerCard.css */
.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    margin: 16px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    transition: transform 0.3s ease; /* Smooth transition */
    border-color: rgba(0, 255, 204, 0.6);
    
}

.card:hover {
    transform: scale(1.05); /* Scale the card on hover */
    color: #ff4081;
    border-color: rgba(0, 255, 204, 1);
    
}
.image-container{
    border-radius: 0px;
}
/* Gradient background for the card */
.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 0; /* Place behind the content */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card:hover::before {
    opacity: 1; /* Show the gradient on hover */
    animation: slideUp 0.5s forwards; /* Animate the gradient */
}

.image-container {
    position: relative;
    z-index: 1; /* Ensure the image is above the gradient */
    height: 30vh;
    border-radius: 8px;
    overflow: hidden; /* Prevent overflow */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-name {
    position: relative;
    z-index: 1; /* Ensure the name is above the gradient */
    font-size: 18px;
    margin: 8px 0;
}
.audio-toggle-button {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Impact', sans-serif;
}

.audio-player {
    display: none; /* Ensures it takes space when visible */
    margin-top: 10px; /* Adds space above the audio player */
}

/* Keyframes for the gradient animation */
@keyframes slideUp {
    from {
        height: 0%; /* Start with no height */
    }
    to {
        height: 100%; /* Slide up to cover the card */
    }
}
